<%= require('@parts/header.ejs')({title: 'IVOLGA - Авторские украшения и одежда' }) %>

<main class="homepage" id="root">
    <section class="pagecollect">
        <div class="pagecollect__wrap">
            <div class="container">
                <h1 class="pagecollect__title">
                    Коллекции
                </h1>
            </div>
            <div class="categories__row">
                <a href="#" class="category-card">
                    <div class="category-card__image">
                        <img src="assets/img/categories/category1.4b74706413b8dececa47.jpg" alt="Одежда"
                            class="category-card__img">
                        <div class="category-card__overlay"></div>
                    </div>
                    <div class="category-card__content">
                        <h3 class="category-card__title">Одежда</h3>
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M11 6.4165L12 6.4165C13.7949 6.4165 15.25 4.96143 15.25 3.1665L16.75 3.1665C16.75 5.78986 14.6234 7.9165 12 7.9165L11 7.9165L11 6.4165Z"
                                fill="white"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.75 3.1665C16.75 4.96143 18.2051 6.4165 20 6.4165L21 6.4165L21 7.9165L20 7.9165C17.3766 7.9165 15.25 5.78986 15.25 3.1665L16.75 3.1665Z"
                                fill="white"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.75 20.9165L3 20.9165L3 19.4165L15.25 19.4165L15.25 3.16651L16.75 3.16651L16.75 20.9165Z"
                                fill="white"></path>
                        </svg>

                    </div>
                </a>

                <a href="#" class="category-card">
                    <div class="category-card__image">
                        <img src="assets/img/categories/category2.53ce9a84412edc6dfb07.jpg" alt="Украшения"
                            class="category-card__img">
                        <div class="category-card__overlay"></div>
                    </div>
                    <div class="category-card__content">
                        <h3 class="category-card__title">Украшения</h3>
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M11 6.4165L12 6.4165C13.7949 6.4165 15.25 4.96143 15.25 3.1665L16.75 3.1665C16.75 5.78986 14.6234 7.9165 12 7.9165L11 7.9165L11 6.4165Z"
                                fill="white"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.75 3.1665C16.75 4.96143 18.2051 6.4165 20 6.4165L21 6.4165L21 7.9165L20 7.9165C17.3766 7.9165 15.25 5.78986 15.25 3.1665L16.75 3.1665Z"
                                fill="white"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.75 20.9165L3 20.9165L3 19.4165L15.25 19.4165L15.25 3.16651L16.75 3.16651L16.75 20.9165Z"
                                fill="white"></path>
                        </svg>

                    </div>
                </a>


                <a href="#" class="category-card">
                    <div class="category-card__image">
                        <img src="assets/img/categories/category1.4b74706413b8dececa47.jpg" alt="Одежда"
                            class="category-card__img">
                        <div class="category-card__overlay"></div>
                    </div>
                    <div class="category-card__content">
                        <h3 class="category-card__title">Одежда</h3>
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M11 6.4165L12 6.4165C13.7949 6.4165 15.25 4.96143 15.25 3.1665L16.75 3.1665C16.75 5.78986 14.6234 7.9165 12 7.9165L11 7.9165L11 6.4165Z"
                                fill="white"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.75 3.1665C16.75 4.96143 18.2051 6.4165 20 6.4165L21 6.4165L21 7.9165L20 7.9165C17.3766 7.9165 15.25 5.78986 15.25 3.1665L16.75 3.1665Z"
                                fill="white"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.75 20.9165L3 20.9165L3 19.4165L15.25 19.4165L15.25 3.16651L16.75 3.16651L16.75 20.9165Z"
                                fill="white"></path>
                        </svg>

                    </div>
                </a>

                <a href="#" class="category-card">
                    <div class="category-card__image">
                        <img src="assets/img/categories/category2.53ce9a84412edc6dfb07.jpg" alt="Украшения"
                            class="category-card__img">
                        <div class="category-card__overlay"></div>
                    </div>
                    <div class="category-card__content">
                        <h3 class="category-card__title">Украшения</h3>
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M11 6.4165L12 6.4165C13.7949 6.4165 15.25 4.96143 15.25 3.1665L16.75 3.1665C16.75 5.78986 14.6234 7.9165 12 7.9165L11 7.9165L11 6.4165Z"
                                fill="white"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.75 3.1665C16.75 4.96143 18.2051 6.4165 20 6.4165L21 6.4165L21 7.9165L20 7.9165C17.3766 7.9165 15.25 5.78986 15.25 3.1665L16.75 3.1665Z"
                                fill="white"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.75 20.9165L3 20.9165L3 19.4165L15.25 19.4165L15.25 3.16651L16.75 3.16651L16.75 20.9165Z"
                                fill="white"></path>
                        </svg>

                    </div>
                </a>
            </div>
            <div class="container">
                <button class="pagecollect__btn">   
                    Показать ещё
                </button>
            </div>
        </div>
    </section>
</main>


<%= require('@parts/footer.ejs')() %>