<%= require('@parts/header.ejs')({title: 'IVOLGA - Авторские украшения и одежда' }) %>

<main class="homepage" id="root">


    <section class="infopage">
        <div class="infopage__wrap">
            <div class="container">
                <div class="infopage__row">
                    <div class="infopage__aside">
                        <p class="infopage__aside-title">
                            Покупателям
                        </p>
                        <ul class="infopage__aside-list">
                            <li>
                                <a href="" class="active">
                                    Доставка и оплата
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Правила возврата
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Программа лояльности
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Публичная оферта
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Публичная <br> оферта
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="infopage__main">
                        <h1 class="infopage__title">
                            Политика конфиденциальности(тест заголовок)
                        </h1>
                        <div class="infopage__content">
                            <h2>
                                Доставка курьером по Москве
                            </h2>
                            <p>
                                Доставка для покупателей в Москве (в пределах МКАД) включает примерку (15 минут), после которой возможен частичный или полный отказ от заказа. Стоимость доставки по Москве — 450 руб. Максимальное количество позиций в заказе — 5 единиц. Доставка может занять до 6 дней.
                            </p>
                            <h2>
                                Доставка по Москве за пределами МКАД и по России
                            </h2>
                            <p>
                                Доставка осуществляется нашим курьером за пределы МКАД (не далее 7 км), курьерской службой СДЭК или почтой России, в зависимости от точного адреса доставки. <br> Заказы, оформленные на доставку Почтой России или курьерской компанией СДЭК оплачиваются на сайте и обрабатываются только после полной оплаты. <br> После того как заказ будет отправлен, мы обязательно сообщим вам номер отправления, с помощью которого вы сможете отследить местонахождение отправления на сайте курьерской службы. <br> Стоимость доставки пешим курьером (в пределах 7км за МКАД) — 650 руб., Почтой России — от 450 руб. (обычный тариф, если требуется отправление 1 классом, расчет стоимости будет индивидуальным и может потребоваться доплата), курьерской компанией CDEK – от 650 руб (точная стоимость доставки рассчитывается после оформления заказа). Срок доставки составляет от 2 до 10 дней, точный срок доставки и стоимость в ваш регион вы можете уточнить у нашего оператора.
                            </p>
                            <h3>
                                Самовывоз
                            </h3>
                            <p>
                                Заказ на самовывоз, должен быть оплачен на сайте при оформлении. <br> Померить и забрать Ваш оплаченный заказ Вы сможете у нас в магазине по адресу: <a href="">г. Москва, Яузская ул., 5, офис 222</a>. <br> Забрать заказ можно не позднее 14 дней с момента его оформления на сайте. Мы работаем каждый будний день с 12:00 до 21:00, выходные с 12:00 до 19:00.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>


<%= require('@parts/footer.ejs')() %>