<%= require('@parts/header.ejs')({title: 'IVOLGA - Авторские украшения и одежда' }) %>

<main class="homepage" id="root">


    <section class="infopage lk">
        <div class="infopage__wrap">
            <div class="container">
                <div class="infopage__row">
                    <div class="infopage__aside">
                        <p class="infopage__aside-title">
                            Личный кабинет
                        </p>
                        <ul class="infopage__aside-list">
                            <li>
                                <a href="" class="active">
                                    Профиль
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    История заказов
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Адреса
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Выйти
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="infopage__main">
                        <h1 class="lk__title">
                            История заказов
                        </h1>
                        <div class="lk-orders">
                            <div class="lk-orders__item">
                                <div class="lk-orders__header">
                                    <a href="#" class="lk-orders__left">
                                        <p class="lk-orders__num">
                                            №5776
                                        </p>
                                        <p class="lk-orders__tag">
                                            новый
                                        </p>
                                        <p class="lk-orders__date">
                                            от 25.09.2024
                                        </p>
                                    </a>
                                    <a href="" class="lk-orders__buttons">
                                        <p class="lk-orders__status">
                                            Передан курьеру
                                        </p>
                                        <p class="lk-orders__price">
                                            40 000 ₽
                                            <i>
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.08301 4C9.08301 6.73877 11.4974 9.09837 14.6885 9.24316L15 9.25V10.75C11.656 10.75 9.08301 13.1729 9.08301 16V17.5H7.58301V16C7.58301 13.3469 9.23917 11.1097 11.6064 10C9.23917 8.89026 7.58301 6.65308 7.58301 4V2.5H9.08301V4Z" fill="#232229"/>
                                                </svg>
                                            </i>
                                        </p>
                                    </a>
                                </div>
                                <div class="lk-orders__main">
                                    <a href="" class="lk-orders__prod">
                                         <img src="<%=require('@img/order-demo.jpg')%>" alt="Название товара">
                                    </a>
                                    <a href="" class="lk-orders__prod">
                                         <img src="<%=require('@img/order-demo.jpg')%>" alt="Название товара">
                                    </a>
                                    <a href="" class="lk-orders__prod">
                                         <img src="<%=require('@img/order-demo.jpg')%>" alt="Название товара">
                                    </a>
                                    <a href="" class="lk-orders__prod">
                                         <img src="<%=require('@img/order-demo.jpg')%>" alt="Название товара">
                                    </a>
                                </div>
                            </div>
                            <div class="lk-orders__item">
                                <div class="lk-orders__header">
                                    <a href="#" class="lk-orders__left">
                                        <p class="lk-orders__num">
                                            №5776
                                        </p>
                                        <p class="lk-orders__tag">
                                            новый
                                        </p>
                                        <p class="lk-orders__date">
                                            от 25.09.2024
                                        </p>
                                    </a>
                                    <a href="" class="lk-orders__buttons">
                                        <p class="lk-orders__status">
                                            Передан курьеру
                                        </p>
                                        <p class="lk-orders__price">
                                            40 000 ₽
                                            <i>
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.08301 4C9.08301 6.73877 11.4974 9.09837 14.6885 9.24316L15 9.25V10.75C11.656 10.75 9.08301 13.1729 9.08301 16V17.5H7.58301V16C7.58301 13.3469 9.23917 11.1097 11.6064 10C9.23917 8.89026 7.58301 6.65308 7.58301 4V2.5H9.08301V4Z" fill="#232229"/>
                                                </svg>
                                            </i>
                                        </p>
                                    </a>
                                </div>
                                <div class="lk-orders__main">
                                    <a href="" class="lk-orders__prod">
                                         <img src="<%=require('@img/order-demo.jpg')%>" alt="Название товара">
                                    </a>
                                    <a href="" class="lk-orders__prod">
                                         <img src="<%=require('@img/order-demo.jpg')%>" alt="Название товара">
                                    </a>
                                    <a href="" class="lk-orders__prod">
                                         <img src="<%=require('@img/order-demo.jpg')%>" alt="Название товара">
                                    </a>
                                    <a href="" class="lk-orders__prod">
                                         <img src="<%=require('@img/order-demo.jpg')%>" alt="Название товара">
                                    </a>
                                </div>
                            </div>
                            <div class="lk-orders__item">
                                <div class="lk-orders__header">
                                    <a href="#" class="lk-orders__left">
                                        <p class="lk-orders__num">
                                            №5776
                                        </p>
                                        <p class="lk-orders__tag">
                                            новый
                                        </p>
                                        <p class="lk-orders__date">
                                            от 25.09.2024
                                        </p>
                                    </a>
                                    <a href="" class="lk-orders__buttons">
                                        <p class="lk-orders__status">
                                            Передан курьеру
                                        </p>
                                        <p class="lk-orders__price">
                                            40 000 ₽
                                            <i>
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.08301 4C9.08301 6.73877 11.4974 9.09837 14.6885 9.24316L15 9.25V10.75C11.656 10.75 9.08301 13.1729 9.08301 16V17.5H7.58301V16C7.58301 13.3469 9.23917 11.1097 11.6064 10C9.23917 8.89026 7.58301 6.65308 7.58301 4V2.5H9.08301V4Z" fill="#232229"/>
                                                </svg>
                                            </i>
                                        </p>
                                    </a>
                                </div>
                                <div class="lk-orders__main">
                                    <a href="" class="lk-orders__prod">
                                         <img src="<%=require('@img/order-demo.jpg')%>" alt="Название товара">
                                    </a>
                                    <a href="" class="lk-orders__prod">
                                         <img src="<%=require('@img/order-demo.jpg')%>" alt="Название товара">
                                    </a>
                                    <a href="" class="lk-orders__prod">
                                         <img src="<%=require('@img/order-demo.jpg')%>" alt="Название товара">
                                    </a>
                                    <a href="" class="lk-orders__prod">
                                         <img src="<%=require('@img/order-demo.jpg')%>" alt="Название товара">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>


<%= require('@parts/footer.ejs')() %>