<%= require('@parts/header.ejs')({title: 'IVOLGA - Авторские украшения и одежда' }) %>

<main class="homepage" id="root">


    <section class="infopage lk">
        <div class="infopage__wrap">
            <div class="container">
                <div class="infopage__row">
                    <div class="infopage__aside">
                        <p class="infopage__aside-title">
                            Личный кабинет
                        </p>
                        <ul class="infopage__aside-list">
                            <li>
                                <a href="" class="active">
                                    Профиль
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    История заказов
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Адреса
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Выйти
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="infopage__main">
                        <h1 class="lk__title">
                            Адреса
                        </h1>
                        <div class="lk-locations">
                            <div class="lk-locations__list">
                                <div class="lk-locations__item">
                                    <p class="lk-locations__item-txt">
                                        Пр-кт Мичеринского, 11к2, подъезд 3, кв 123, этаж 14
                                    </p>
                                    <div class="lk-locations__item-buttons">
                                        <button class="lk-locations__item-edit">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.5342 6.57227L7.81738 17.624H2.375V12.1885L13.457 1.10547L18.5342 6.57227ZM3.875 12.8096V16.124H7.18262L16.4658 6.5498L13.417 3.2666L3.875 12.8096Z" fill="#232229" fill-opacity="0.5"/>
                                                <path d="M15.5303 8.84375L14.4697 9.9043L10.0947 5.5293L11.1553 4.46875L15.5303 8.84375Z" fill="#232229" fill-opacity="0.5"/>
                                            </svg>
                                        </button>
                                        <button class="lk-locations__item-delete">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.125 3.625H16.875V5.125H3.125V3.625Z" fill="#232229" fill-opacity="0.5"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.125 2.625H6.875V1.125H13.125V2.625Z" fill="#232229" fill-opacity="0.5"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.125 16.125V4.375H3.625V17.625H16.375V4.375H14.875V16.125H5.125Z" fill="#232229" fill-opacity="0.5"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="lk-locations__item">
                                    <p class="lk-locations__item-txt">
                                        Пр-кт Мичеринского, 11к2, подъезд 3, кв 123, этаж 14
                                    </p>
                                    <div class="lk-locations__item-buttons">
                                        <button class="lk-locations__item-edit">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.5342 6.57227L7.81738 17.624H2.375V12.1885L13.457 1.10547L18.5342 6.57227ZM3.875 12.8096V16.124H7.18262L16.4658 6.5498L13.417 3.2666L3.875 12.8096Z" fill="#232229" fill-opacity="0.5"/>
                                                <path d="M15.5303 8.84375L14.4697 9.9043L10.0947 5.5293L11.1553 4.46875L15.5303 8.84375Z" fill="#232229" fill-opacity="0.5"/>
                                            </svg>
                                        </button>
                                        <button class="lk-locations__item-delete">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.125 3.625H16.875V5.125H3.125V3.625Z" fill="#232229" fill-opacity="0.5"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.125 2.625H6.875V1.125H13.125V2.625Z" fill="#232229" fill-opacity="0.5"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.125 16.125V4.375H3.625V17.625H16.375V4.375H14.875V16.125H5.125Z" fill="#232229" fill-opacity="0.5"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="lk-locations__item">
                                    <p class="lk-locations__item-txt">
                                        Пр-кт Мичеринского, 11к2, подъезд 3, кв 123, этаж 14
                                    </p>
                                    <div class="lk-locations__item-buttons">
                                        <button class="lk-locations__item-edit">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M18.5342 6.57227L7.81738 17.624H2.375V12.1885L13.457 1.10547L18.5342 6.57227ZM3.875 12.8096V16.124H7.18262L16.4658 6.5498L13.417 3.2666L3.875 12.8096Z" fill="#232229" fill-opacity="0.5"/>
                                                <path d="M15.5303 8.84375L14.4697 9.9043L10.0947 5.5293L11.1553 4.46875L15.5303 8.84375Z" fill="#232229" fill-opacity="0.5"/>
                                            </svg>
                                        </button>
                                        <button class="lk-locations__item-delete">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.125 3.625H16.875V5.125H3.125V3.625Z" fill="#232229" fill-opacity="0.5"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.125 2.625H6.875V1.125H13.125V2.625Z" fill="#232229" fill-opacity="0.5"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.125 16.125V4.375H3.625V17.625H16.375V4.375H14.875V16.125H5.125Z" fill="#232229" fill-opacity="0.5"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                
                            </div>
                            <button class="lk-locations__add">
                                Добавить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>


<%= require('@parts/footer.ejs')() %>