<%= require('@parts/header.ejs')({title: 'IVOLGA - Авторские украшения и одежда' }) %>

<main class="homepage" id="root">


    <section class="infopage lk">
        <div class="infopage__wrap">
            <div class="container">
                <div class="infopage__row">
                    <div class="infopage__aside">
                        <p class="infopage__aside-title">
                            Личный кабинет
                        </p>
                        <div class="infopage__aside-center">
                            <a href="" class="infopage__aside-back">
                                <i>
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.9172 4C10.9172 6.82712 8.34446 9.25 5.00049 9.25V10.75C8.34446 10.75 10.9172 13.1729 10.9172 16V17.5H12.4172V16C12.4172 13.348 10.7629 11.1102 8.39717 10C10.7629 8.8898 12.4172 6.65202 12.4172 4L12.4172 2.5H10.9172L10.9172 4Z" fill="#232229"/>
                                    </svg>
                                </i>
                                Назад
                            </a>
                        </div>
                    </div>
                    <div class="infopage__main">
                        <div class="singleorder">
                            <div class="singleorder__header">
                                <p class="singleorder__title">
                                    Заказ №5776
                                </p>
                                <!--  singleorder__status_delivered singleorder__status_done singleorder__status_canceled -->
                                <p class="singleorder__status singleorder__status_delivered">
                                    Передан курьеру
                                </p>
                            </div>
                            <p class="singleorder__date">
                                Заказ будет доставлен 25.06.2024 с 12:00 до 16:00
                            </p>

                            <div class="singleorder__products">
                                <a href="" class="singleorder-prod">
                                    <div class="singleorder-prod__left">
                                        <div class="singleorder-prod__image">
                                            <img src="<%=require('@img/singleprod.jpg')%>" alt="Название товара">
                                        </div>
                                        <div class="singleorder-prod__content">
                                            <p class="singleorder-prod__title">
                                                Сарафан молочный  <br>
                                                с цветочным принтом
                                            </p>
                                            <p class="singleorder-prod__info">
                                                Цвет: Розовый 
                                            </p>
                                            <p class="singleorder-prod__info">
                                                Размер: М 
                                            </p>
                                            <p class="singleorder-prod__count">
                                                1 шт.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="singleorder-prod__right">
                                        <p class="singleorder-prod__price">
                                            12 000₽
                                            <span class="sale">
                                                -25%
                                            </span>
                                        </p>
                                        <p class="singleorder-prod__oldprice">
                                            16 000₽
                                        </p>
                                    </div>
                                </a>
                                <a href="" class="singleorder-prod">
                                    <div class="singleorder-prod__left">
                                        <div class="singleorder-prod__image">
                                            <img src="<%=require('@img/singleprod.jpg')%>" alt="Название товара">
                                        </div>
                                        <div class="singleorder-prod__content">
                                            <p class="singleorder-prod__title">
                                                Сарафан молочный  <br>
                                                с цветочным принтом
                                            </p>
                                            <p class="singleorder-prod__info">
                                                Цвет: Розовый 
                                            </p>
                                            <p class="singleorder-prod__info">
                                                Размер: М 
                                            </p>
                                            <p class="singleorder-prod__count">
                                                1 шт.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="singleorder-prod__right">
                                        <p class="singleorder-prod__price">
                                            12 000₽
                                            <span class="sale">
                                                -25%
                                            </span>
                                        </p>
                                        <p class="singleorder-prod__oldprice">
                                            16 000₽
                                        </p>
                                    </div>
                                </a>
                                <a href="" class="singleorder-prod">
                                    <div class="singleorder-prod__left">
                                        <div class="singleorder-prod__image">
                                            <img src="<%=require('@img/singleprod.jpg')%>" alt="Название товара">
                                        </div>
                                        <div class="singleorder-prod__content">
                                            <p class="singleorder-prod__title">
                                                Сарафан молочный  <br>
                                                с цветочным принтом
                                            </p>
                                            <p class="singleorder-prod__info">
                                                Цвет: Розовый 
                                            </p>
                                            <p class="singleorder-prod__info">
                                                Размер: М 
                                            </p>
                                            <p class="singleorder-prod__count">
                                                1 шт.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="singleorder-prod__right">
                                        <p class="singleorder-prod__price">
                                            12 000₽
                                            <span class="sale">
                                                -25%
                                            </span>
                                        </p>
                                        <p class="singleorder-prod__oldprice">
                                            16 000₽
                                        </p>
                                    </div>
                                </a>
                                <a href="" class="singleorder-prod">
                                    <div class="singleorder-prod__left">
                                        <div class="singleorder-prod__image">
                                            <img src="<%=require('@img/singleprod.jpg')%>" alt="Название товара">
                                        </div>
                                        <div class="singleorder-prod__content">
                                            <p class="singleorder-prod__title">
                                                Сарафан молочный  <br>
                                                с цветочным принтом
                                            </p>
                                            <p class="singleorder-prod__info">
                                                Цвет: Розовый 
                                            </p>
                                            <p class="singleorder-prod__info">
                                                Размер: М 
                                            </p>
                                            <p class="singleorder-prod__count">
                                                1 шт.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="singleorder-prod__right">
                                        <p class="singleorder-prod__price">
                                            12 000₽
                                            <span class="sale">
                                                -25%
                                            </span>
                                        </p>
                                        <p class="singleorder-prod__oldprice">
                                            16 000₽
                                        </p>
                                    </div>
                                </a>
                                <a href="" class="singleorder-prod">
                                    <div class="singleorder-prod__left">
                                        <div class="singleorder-prod__image">
                                            <img src="<%=require('@img/singleprod.jpg')%>" alt="Название товара">
                                        </div>
                                        <div class="singleorder-prod__content">
                                            <p class="singleorder-prod__title">
                                                Сарафан молочный  <br>
                                                с цветочным принтом
                                            </p>
                                            <p class="singleorder-prod__info">
                                                Цвет: Розовый 
                                            </p>
                                            <p class="singleorder-prod__info">
                                                Размер: М 
                                            </p>
                                            <p class="singleorder-prod__count">
                                                1 шт.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="singleorder-prod__right">
                                        <p class="singleorder-prod__price">
                                            12 000₽
                                            <span class="sale">
                                                -25%
                                            </span>
                                        </p>
                                        <p class="singleorder-prod__oldprice">
                                            16 000₽
                                        </p>
                                    </div>
                                </a>
                            </div>

                            <div class="singleorder-info">
                                <div class="singleorder-info__persona">
                                    <p class="singleorder-info__persona-title">
                                        Данные получателя
                                    </p>
                                    <p class="singleorder-info__persona-txt">
                                        Иванов Андрей <br><br>
                                        Пр-кт Мичеринского, 11к2, кв 123, п.3, этаж 14 <br><br>
                                        <a href="#">+7 (999) 999-99-99</a>
                                    </p>
                                    <p class="singleorder-info__persona-title">
                                        Комментарий
                                    </p>
                                    <p class="singleorder-info__persona-txt">
                                        Позвоните за 30 мин перед доставкой, пожалуйста
                                    </p>
                                </div>
                                <div class="singleorder-info__info">
                                    <div class="singleorder-info__info-item">
                                        <p>
                                            3 товара на сумму
                                        </p>
                                        <p>
                                            40 000 ₽
                                        </p>
                                    </div>
                                    <div class="singleorder-info__info-item">
                                        <p>
                                            Скидка
                                        </p>
                                        <p>
                                            0 ₽
                                        </p>
                                    </div>
                                    <div class="singleorder-info__info-item">
                                        <p>
                                            Промокод
                                        </p>
                                        <p>
                                           0 ₽ 
                                        </p>
                                    </div>
                                    <div class="singleorder-info__info-item">
                                        <p>
                                            Способ доставки
                                        </p>
                                        <p>
                                            Курьер
                                        </p>
                                    </div>
                                    <div class="singleorder-info__info-item">
                                        <p>
                                            Доставка
                                        </p>
                                        <p>
                                            Бесплатно
                                        </p>
                                    </div>

                                    <div class="singleorder-info__info-item singleorder-info__info-item_finish">
                                        <p class="finallabel">
                                            Итого
                                        </p>
                                        <p class="finalprice">
                                            40 000 ₽
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="singleorder-footer">
                                <a href="" class="singleorder-footer__support">
                                    Связаться с поддержкой
                                </a>
                                <a href="" class="singleorder-footer__cancel">  
                                    Отменить заказ
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>


<%= require('@parts/footer.ejs')() %>