<%= require('@parts/header.ejs')({title: 'IVOLGA - Авторские украшения и одежда' }) %>

<main class="homepage" id="root">


    <section class="orderproceed">
        <div class="orderproceed__wrap">
            <div class="container">
                <div class="orderproceed__content">
                    <p class="orderproceed__title">
                        Заказ №00005 не оплачен
                    </p>
                    <p class="orderproceed__txt">
                        Возникли проблемы с оплатой заказа на стороне банка. Пожалуйста, обратитесь в ваш банк.
                    </p>
                    <div class="orderproceed__buttons">
                        <a href="" class="orderproceed__buttons-check orderproceed__buttons-check_full">
                           Попробовать ещё раз
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>


<%= require('@parts/footer.ejs')() %>