@font-face {
  font-family: 'Pragmatica';
  src: url('../fonts/Pragmatica-Book.woff2') format('woff2'),
      url('../fonts/Pragmatica-Book.woff') format('woff'),
      url('../fonts/Pragmatica-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Steinbeck';
  src: url('../fonts/Steinbeck-Regular.woff2') format('woff2'),
      url('../fonts/Steinbeck-Regular.woff') format('woff'),
      url('../fonts/Steinbeck-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

