.header {
  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    img {
      height: 64px;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 64px;
    &-left {
      display: flex;
      align-items: center;
      
    }
    &-right {
      display: flex;
      align-items: center;
    }
    &-link {
      color: rgb(35, 34, 41);
      font-family: 'Steinbeck', sans-serif;
      display: flex;
      align-items: center;
      margin-right: 40px;
      font-size: 18px;
      font-weight: 400;
      text-decoration: none;
      line-height: 125%;
      letter-spacing: 1%;
      text-align: left;
      text-transform: uppercase;
      position: relative;
      &--live {
        &:hover {
          &::after {
            width: calc(100% - 22px)!important;
          }
        }
        i {
          svg {
            width: 12px;
          }
        }
      }
      &--dropdown {
        &::after {
          bottom: -1px!important;
        }
        &:hover {
          &::after {
            width: calc(100% - 34px)!important;
          }
        }
        i {
          svg {
            width: 24px;
          }
        }
      }
      &::after {
        position: absolute;
        height: 2px;
        display: inline-block;
        content: '';
        background: #232229;
        left: 0;
        width: 0;
        bottom: -4px;
        opacity: 0;
        transition: .3s all ease;
      }
      &:hover {
        color: rgb(35, 34, 41);
        &::after {
          opacity: 1;
          width: 100%;
        }
      }
      i {
        display: flex;
        align-items: center;
        margin-left: 10px;
        transform: translateY(-2px);
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
  }
  &__button {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    svg {
      width: 24px;
      path {
        transition: .3s all ease;
      }
    }
    position: relative;
  }
}

.alert-main {
  height: 32px;
  display: flex;
  align-items: center;
  background: rgb(253, 241, 106);
  justify-content: center;
  &__text {
    margin: 0;
    color: rgb(35, 34, 41);
    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  position: relative;
  &__close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s all ease;
    &:hover {
      opacity: .8;
    }
    svg {
      width: 14px;
    }
  }
}

.topblock {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 40;
  background: #fff;
}