.form-control {
   border: none;
   border-radius: 0;
   width: 100%;
   padding: 28rem 0 0 0;
   height: 71rem;
   color: $primary;
   font-family: $font-family;
   font-size: 21rem;
   line-height: 1.3;
   font-weight: 400;
   background-color: transparent;
   border-bottom: 1px solid rgba($primary, 0.2);
   &::placeholder {
      opacity: 0;
   }
   &:focus {
      border-color: $primary;
   }
   &:-internal-autofill-selected {
      background-color: rgba(#fff, 0.001) !important;
   }
   &:invalid,
   &.invalid {
      padding-right: 44rem;
      background-repeat: no-repeat;
      background-size: 20rem 20rem;
      background-position: calc(100% - 12rem) 50%;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23f95f5f'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23f95f5f' stroke='none'/%3e%3c/svg%3e");
      transition: background-position $transition;
   }
}
.textarea {
   padding: 36rem 0 0 0;
   min-height: 71rem;
   resize: none;
}
.form-select {
   border: none;
   border-radius: 0;
   width: 100%;
   padding: 28rem 0 0 0;
   height: 71rem;
   color: $primary;
   font-family: $font-family;
   font-size: 21rem;
   line-height: 1.3;
   font-weight: 400;
   background-color: transparent;
   border-bottom: 1rem solid rgba($primary, 0.2);
   &::placeholder {
      opacity: 0;
   }
   &:focus {
      border-color: $primary;
   }
}
.form-group {
   position: relative;
   & > .form-control {
      &:not(:placeholder-shown),
      &:focus {
         &:invalid,
         &.invalid {
            background-position: calc(100% - 12rem) 36rem;
         }
         & + .form-label {
            color: rgba($primary, 0.5);
            transform: scale(0.762);
            padding-bottom: 10rem;
         }
      }
   }
   & > .form-select {}
   & > .form-label {
      color: $primary;
      font-family: $font-family;
      font-size: 21rem;
      line-height: 1.3;
      font-weight: 400;
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      height: 70rem;
      text-align: left;
      transition: transform $transition, color $transition, padding-bottom $transition;
      transform-origin: 0 0;
      pointer-events: none;
   }
   &:not(:has(.form-label)) {
      & > .form-control {
         &::placeholder {
            opacity: 1;
         }
      }
   }
}
.checkbox {
   display: flex;
   column-gap: 10rem;
   margin: 0;
   cursor: pointer;
   font-size: 21rem;
   line-height: 1.3;
   font-weight: 400;
   user-select: none;
   & > input {
      top: 1rem;
   }
   & > p {
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      margin-bottom: 0;
      color: $primary;
      align-self: center;
      & > a {
         text-decoration: none;
         color: $primary;
         border-bottom: 1rem solid $primary;
         line-height: 0.9;
         display: inline-block;
         transition: color $transition, border-color $transition;
         @media (hover: hover) {
            &:hover {
               color: rgba($primary, 0.5);
               border-color: rgba($primary, 0.5);
            }
         }
      }
   }
}

input[type="checkbox"] {
   appearance: none;
   position: relative;
   flex: 0 0 24rem;
   width: 24rem;
   height: 24rem;
   &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 18rem;
      height: 18rem;
      border: 1rem solid $primary;
      transition: background-color $transition;
   }
   &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.3535 9.85352L11 16.207L7.64648 12.8535L8.35352 12.1465L11 14.793L16.6465 9.14648L17.3535 9.85352Z' fill='white'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      opacity: 0;
      transition: opacity $transition;
   }
   &:checked {
      &::before {
         background-color: $primary;
      }
      &::after {
         opacity: 1;
      }
   }
}

input[type="radio"] {
   appearance: none;
   position: relative;
   flex: 0 0 24rem;
   width: 24rem;
   height: 24rem;
   &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 18rem;
      height: 18rem;
      border-radius: 50%;
      border: 1rem solid $primary;
      transition: background-color $transition;
   }
   &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      opacity: 0;
      transition: opacity $transition;
      background-color: $primary;
   }
   &:checked {
      &::after {
         opacity: 1;
      }
   }
}