.modal-backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba($primary, 0.5);
   opacity: 0;
   visibility: hidden;
   transition: opacity $transition, visibility $transition;
   z-index: 99;
   &.show {
      opacity: 1;
      visibility: visible;
   }
}
.offcanvas {
   position: fixed;
   top: 0;
   z-index: 100;
   width: 100%;
   height: 100%; 
   max-width: 639rem;
   background-color: $white;
   display: flex;
   flex-direction: column;
   transform: translateX(100%);
   right: 0;
   transition: transform $transition;
   @media (max-width: $md4) {
   }
   &.show {
      transform: translate(0);
   }
   &__header {
      border-bottom: 1rem solid rgba($primary, .1);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20rem;
      column-gap: 32rem;
      @media (max-width: $md3) {
         padding: 28rem;
      }
   }
   &__title {
      color: $primary;
      font-family: $font-steinbeck;
      font-size: 21rem;
      font-weight: 400;
      line-height: 1.2;
      text-transform: uppercase;
      @media (max-width: $md3) {
         font-size: 24rem;
      }
   }
   &__close {
      flex: 0 0 24rem;
      width: 24rem;
      height: 24rem;
      @media (max-width: $md3) {
         flex: 0 0 32rem;
         width: 32rem;
         height: 32rem;
      }
      & > svg {
         width: 100%;
         height: 100%;
         overflow: initial;
      }
   }
   &__body {
      // padding: 20rem;
      overflow-y: auto;
      overflow-x: hidden;
      flex-grow: 1;
      min-height: 0;
   }
   &__list {
      & > .item-address {
         display: flex;
         align-items: flex-start;
         padding: 20rem;
         column-gap: 10rem;
         cursor: pointer;
         border-bottom: 1rem solid rgba($primary, .1);
         @media (max-width: $md3) {
            padding: 28rem;
         }
         &:last-child {
            border-bottom: 0;
         }
         & > p {
            margin-bottom: 0;
            align-self: center;
            font-size: 16rem;
            font-weight: 400;
            line-height: 1.3;
            @media (max-width: $md3) {
               font-size: 20rem;
            }
            & > span {
               color: rgba($primary, 0.5);
               text-transform: uppercase;
               font-size: 13rem;
               @media (max-width: $md3) {
                  font-size: 16rem;
               }
            }
         }
      }
   }
   &__footer {
      padding: 20rem;
      border-top: 1rem solid rgba($primary, .1);
   }
   &__button {
      width: 100%;
      font-size: 21rem;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      padding: 20rem;
      text-align: center;
      background-color: $primary;
      color: $white;
      transition: background-color $transition, color $transition;
      @media (hover: hover) {
         &:hover {
            background-color: lighten($primary, 15%);
            color: $white;
         }
      }
   }
}