.order-aside {
   background-color: $white;
   padding: 40rem;
   &__title {
      margin-bottom: 30rem;
      text-transform: uppercase;
      font-size: 24rem;
      line-height: 1.2;
   }
   &__cart {
      margin-bottom: 30rem;
      & > ul {
         list-style: none;
         padding-left: 0;
         margin-bottom: 15rem;
         display: flex;
         flex-wrap: wrap;
         gap: 5rem;
         & > li {
            flex: 0 0 60rem;
            width: 60rem;
            & > picture {
               display: block;
               font-size: 0;
               line-height: 0;
               aspect-ratio: 6 / 9;
               position: relative;
               & > * {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: center;
               }
            }
         }
      }
      & > button {
         font-size: 21rem;
         line-height: 1;
         border-bottom: 1rem solid $primary;
         text-transform: uppercase;
         transition: color $transition, border-color $transition;
         @media (hover: hover) {
            &:hover {
               color: rgba($primary, 0.5);
               border-color: rgba($primary, 0.5);
            }
         }
      }
   }
   &__table {
      width: 100%;
      & > tbody {
         & > tr {
            & > td {
               padding: 15rem 0;
               font-size: 21rem;
               line-height: 1.2;
               color: rgba($primary, 0.5);
               vertical-align: top;
               border-bottom: 1rem solid rgba($primary, 0.1);
               &:last-child {
                  text-align: right;
                  color: $primary;
               }
               & > span {
                  font-size: 16rem;
               }
            }
            &:last-child {
               & > td {
                  border-bottom: 0;
               }
            }
         }
      }
      & > tfoot {
         & > tr {
            & > td {
               font-size: 21rem;
               line-height: 1.2;
               color: rgba($primary, 0.5);
               background-color: rgba($primary, 0.05);
               padding: 15rem;
               &:last-child {
                  text-align: right;
                  color: $primary;
               }
            }
         }
      }
   }
}