.order-controls {
   display: flex;
   flex-wrap: wrap;
   margin-left: -10rem;
   margin-right: -10rem;
   row-gap: 10rem;
   &__group {
      padding: 0rem 10rem;
      &.w-33 {
         flex: 0 0 33.33%;
         width: 33.33%;
      }
      &.w-50 {
         flex: 0 0 50%;
         width: 50%;
      }
      &.w-100 {
         flex: 0 0 100%;
         width: 100%;
      }
   }
   &__preprice {
      font-size: 21rem;
      line-height: 1.2;
      text-transform: uppercase;
      color: $primary;
      padding-top: 10rem;
   }
}