.order-select {
   & > .custom-select-container {
      outline: none;
      & * {
         outline: none;
      }
      & > .custom-select-opener {
         border-bottom: 1rem solid rgba($primary, 0.2);
         height: 71rem;
         display: flex;
         align-items: center;
         color: $primary;
         font-family: $font-family;
         font-size: 21rem;
         line-height: 1.2;
         &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: auto;
            transform: translateY(-50%) rotate(90deg);
            right: 20rem;
            width: 24rem;
            height: 24rem;
            background-color: transparent;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 6L15.5 12L9.5 18' stroke='%2300010D' stroke-linejoin='bevel'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transition: transform $transition;
         }
         & > span {}
      }
      & > .custom-select-panel {
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
         & > .custom-select-option {
            color: $primary;
            background-color: $white;
            transition: background-color $transition;
            cursor: pointer;
            padding: 10rem 16rem;
            font-size: 18rem;
            @media (max-width: $md4) {
               padding: 16rem;
            }
            &.is-selected {
               &::before {
                  display: none;
               }
            }
            &.has-focus {
               background-color: $yellow;
            }
         }
      }
      &.is-open {
         & > .custom-select-opener {
            &::after {
               transform: translateY(-50%) rotate(270deg);
            }
         }
         & > .custom-select-panel {
            max-height: 240rem;
         }
      }
   }
}