.hide {
    display: none !important;
}
#check--error {
    color: red;
}

#address_delivery {
    display: none;
}
.pickup-shipping {
    display: none;
}
.checkbox-input-label span a {
    text-decoration: underline;
}
.checkbox-input-label span a:hover {
    text-decoration: none;
}
.subscribe-modal .modal-right-heading p, .subscribe-n-modal .modal-right-heading p {
    font-weight: bold;
}
.subscribe-modal .search-container p, .subscribe-n-modal .search-container p {
    margin-bottom: 1.5rem;
}
.subscribe-modal .search-container a, .subscribe-n-modal .search-container a {
    text-decoration: underline;
}
.subscribe-modal .search-container a:hover, .subscribe-n-modal .search-container a:hover {
    text-decoration: none;
}
.container {
    width: 99%;
    margin: 0 auto;
}
.checkout-config-container:first-child {
    gap: 20px;
}

.checkout-config a {
    text-decoration: underline;
}
.product-config-detail-button div {
    color:#1d1d1c;
}
.relevant-looks-images img{
    max-width: 100vw;
}
.checkout-config a:hover {
    text-decoration: none;
}
#error-container {
    font-size: 1em;
    color: #ff0000;
    padding: 1rem 0;
    text-align: center;
}
.products-card-color-small {
    border: 1px solid #cecece;
}
.products-card-color-small.__active {
    border: 1px solid #1b1a19;
}

@media(max-width:430px){
    .profile{padding:15px 15px 0;
    display: block;}
    .profile-menu {
        margin-bottom: 30px;
    }
    .common-profile-title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .address-add-container, .addresses-container, .common-container, .orders-container, .profile-container, .settings-container {
        display: block;
    }

    .addresses-list {
        margin-bottom: 40px;
    }
    .profile-container .form{
        margin-bottom: 15px;
    }

    .profile-info {
        margin-bottom: 20px;
    }
}
.product-config__size-button.active, .product-config__size-button.active:focus {
    background: #adadab;
}