td.ws-project-settings.field-name {
    line-height: 27px;
}

td.ws-project-settings.field-name + td > input[type=text] {
    margin-bottom: 10px;
}

td.ws-project-settings.field-name + td input[type=text] {
    width: 500px;
    margin-left: 10px;
}

td.ws-project-settings.field-name + td a[href="#"] {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
}

.adm-workarea-wrap.adm-workarea-wrap-top > .adm-info-message-wrap .adm-info-message {
    display: none !important;
}
